<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permissions Bluetooth pour la diffusion de beacons -->
    <!-- Pour Android < 12 (API < 31) -->
    <uses-permission android:name="android.permission.BLUETOOTH" android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" android:maxSdkVersion="30" />
    
    <!-- Permissions Bluetooth requises depuis Android 12 (API 31) -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" android:minSdkVersion="31" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" android:minSdkVersion="31"/>
</manifest>
